<%= provide(:title, "Home") %>
<div class="container py-5">
    <center>
        <h1 class="display-4">
            Education is the most powerful weapon which you can use to change the world
        </h1>
      
        <p class="font-italic lead">-Nelson Mandela</p>
        <br>
        <% if logged_in? %>
            <%=  link_to "Start Learning!", categories_path, class: "btn btn-info btn-lg"%>
        <% else %>
            <%=  link_to "Sign up now!", signup_path, class: "btn btn-info btn-lg"%>
        <% end %>
    <center>
</div>