<%= link_to unlike_activity_path(@activity), method: :put , remote: true do %>
    <span class='text-danger float-right'>
        <small class="text-muted pr-1" id="vote_count"><%= @activity.get_likes.size %></small>
        <i class='fas fa-heart'></i><br>
       
    </span>
<% end %>