/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
  
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/*Sign up*/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
  
body {
  background: linear-gradient(to right,#B2D0B4	, #F0FFF0);
  margin-bottom: 10px;
}
  
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .card-body {
    padding: 2rem;
  }
}

.card {
  margin-bottom:1em;
}
  
.form-signin {
  width: 100%;
  .btn {      
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
}
  
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  input {
    height: auto;
    border-radius: 2rem;
  }
}
  
.form-label-group>input,
.form-label-group>label { 
  padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
  
.form-label-group input {
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder{
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &::placeholder {
    color: transparent;
  }
}
  

  
.form-label-group {
  input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
}

#error{
  font-size: 15px;
  color: red;

}

#check_box{
  margin-bottom: 10px;
  margin-top: -5px;
}

#descriptionBox {
  border-radius: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/*answer*/
.radio-toolbar {
  input[type="radio"] {
    display:none; 
  }

  label {
    display:inline-block;
    width: 100%;
    padding: 5px 20px;
    font-family:Arial;
    font-size:20px;
    border: 1px solid #5cb85c;
    border-radius: 4px;  
    color: #5cb85c;  
    &:hover {
      background-color: #5cb85c;
      color: #f7f7f7;
    }
  }
  
  input[type="radio"]:checked + label { 
    background-color: #5cb85c;
    color: #f7f7f7;
  }
}
